<!DOCTYPE html>
<html>
<head>
    <title>SnackOverflow</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('purchase', function(products) {
            // Update the page with the new products
            // This will depend on how your page is structured
            console.log(products);

            // Access the products in your HTML body
            // Assuming you have a div with id "products" in your body
            let productsDiv = document.getElementById('products');
            productsDiv.innerHTML = ''; // Clear the div
            let purchaseText = document.createElement('p');
            purchaseText.textContent = 'Siste kjøp:';
            productsDiv.appendChild(purchaseText);
            // Loop through the products and add them to the div
            products.forEach(product => {
                let productElement = document.createElement('p');
                productElement.textContent = product.quantity + ' stk ' + product.name + ' - ' + (product.unitPrice / 100) + ' kr';
                productsDiv.appendChild(productElement);
            });
        });

        socket.on('edit', function(product) {
            console.log(product);
            let productsDiv = document.getElementById('products');
            productsDiv.innerHTML = ''; // Clear the div
            let productElement = document.createElement('p');
            productElement.textContent = product[0] + ' endret pris til ' + (product[1]/100) +' kr';
            productsDiv.appendChild(productElement);
        });
    </script>
</head>
<body>
    <h1>SnackOverflow</h1>
    <div id="products"></div>
</body>
</html>