<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>SnackOverflow</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('purchase', function(products) {
            // Update the page with the new products
            // This will depend on how your page is structured
            console.log(products);
            let mainContainer = document.getElementById("mainContainer");
            mainContainer.style.backgroundColor = "#fafafa";
            mainContainer.classList.remove('animate');
            void mainContainer.offsetWidth;
            mainContainer.classList.add('animate');
            // Access the products in your HTML body
            // Assuming you have a div with id "products" in your body
            let productsDiv = document.getElementById('edit');
            productsDiv.innerHTML = ''; // Clear the div
            let purchaseText = document.createElement('h3');
            purchaseText.textContent = 'Siste kjøp:';
            productsDiv.appendChild(purchaseText);
            // Loop through the products and add them to the div
            products.forEach(product => {
                let productElement = document.createElement('p');
                productElement.className= 'productName';
                productElement.textContent = product.name;
                productsDiv.appendChild(productElement);

                productElement = document.createElement('p');
                productElement.className = 'productInfo';
                productElement.textContent = product.quantity + ' stk - '((product.unitPrice * product.quantity) / 100) + ' kr';
                productsDiv.appendChild(productElement);
                
            });
        });

        socket.on('edit', function(product) {
            console.log(product);
            let mainContainer = document.getElementById("mainContainer");
            mainContainer.style.backgroundColor = "#bf2020";
            mainContainer.style.color = "#ffffff";
            mainContainer.classList.remove('animate');
            void mainContainer.offsetWidth;
            mainContainer.classList.add('animate');

            let productsDiv = document.getElementById('products');
            productsDiv.innerHTML = ''; // Clear the div

            let purchaseText = document.createElement('h3');
            purchaseText.textContent = 'Endret pris:';
            productsDiv.appendChild(purchaseText);

            let productElement = document.createElement('p');
            productElement.className= 'productName';
            productElement.textContent = product[0];
            productsDiv.appendChild(productElement);

            productElement = document.createElement('p');
            productElement.className= 'productInfo';
            productElement.textContent = "Pris er nå satt til " + (product[1]/100) +' kr';
            productsDiv.appendChild(productElement);
        });
    </script>
</head>
<body>
    <h1>SnackOverflow</h1>
    <div id="mainContainer" class="mainContainer">
        <div id="products" class="productContainer">
            <h3>Siste kjøp</h3>
            <p class="productName">Powerking Zero (Test)</p>
            <p class="productInfo">2 stk - 20 kr</p>

            <p class="productName">Big 100 Bar Peanut&Caramel 100g Pf (Test)</p>
            <p class="productInfo">1 stk - 28 kr</p>
        </div>
        <div id="edit" class="editContainer">

        </div>
    </div>
</body>
</html>